/*
Theme: elmtree
Description: A simple style for my personal website.
Author: Edward Misback
*/
/* General styles */
/* Always show the scrollbar to prevent content from jumping around.*/
html {
  overflow-y: scroll; }

body {
  line-height: 1.4;
  background-color: #d9d9d9;
  color: #263333;
  font-family: Georgia;
  font-size: 18px;
  /* NOTE This should be a function of the typical paragraph length.*/
  max-width: 700px;
  margin: 5px auto;
  padding: 0px 8%;
}

h1, h2, h3 {
  line-height: 1.2; }

nav a {
  color: #263333;
  /*text-decoration: none;*/
  font-size: 1.1em;
  padding: 5px; }

.highlight {
  border: 1px solid;
  border-color: #263333;
  padding: 10px;
  overflow-x: scroll;
}


