<!DOCTYPE html>
<html>
<head>
  <!-- TODO fix double title on index -->
  <title>{{.Title}} | {{ .Site.Title }}</title>
  <link rel="stylesheet" href="/css/stylesheet.css">
  {{ if (isset .Params "mathjax") }}
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({tex2jax: {inlineMath: [['$','$'], ['\\(','\\)']]}});
  </script>
  <script async src='https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS_CHTML'></script>
  {{ end }}
</head>

<body>
  <nav>
  {{ range (index .Site.Sections "fixed") }}
  <a href="{{ .Page.Permalink }}">{{ .Page.Title }}</a>
  {{ end }}
  <!-- TODO link to a list of posts -->
  <a href="#">Posts</a>
  </nav>
<!--
<header>
  <div>
    <a href="{{ .Site.BaseURL }}" id="site-title">{{ .Site.Title }}</a>
  </div>

  <br>
</header>
-->
<main>
