/*
Theme: elmtree
Description: A simple style for my personal website.
Author: Edward Misback
*/

/* General styles */

$color: #263333;

/* Always show the scrollbar */
html {
    overflow-y: scroll;
}

a {
  color: $color;
}

body {
  line-height: 1.4;
  background-color: #d9d9d9;
  color: $color;
  font-family: Georgia;
  font-size: 16px;

  /* NOTE This should be a function of the typical paragraph length.*/
  max-width: 700px;
  width: 100%;

  margin: 40px auto;
  padding: 0 8%;
}

h1, h2, h3 {
  line-height: 1.2;
}

header {
  text-align: left;
  background-color: #c9c9c9;
  background: linear-gradient(to right, #d9d9d9, #c9c9c9);
  overflow: auto;
  padding: 10px;
}

#site-title {
  float: right;
  font-size: 2em;
  text-decoration: none;
  color: $color;
  padding: 20px;
}

nav {
  a {
    color: $color;
    /*text-decoration: none;*/
    font-size: 1.1em;
    padding: 5px;
  }
}

/* Tables */
table {
  margin-bottom: 1rem;
  width: 100%;
  border: 2px solid #e5e5e5;
  border-collapse: collapse;
}
td,
th {
  padding: .25rem .5rem;
  border: 2px solid #e5e5e5;
}
tbody tr:nth-child(odd) td,
tbody tr:nth-child(odd) th {
  background-color: #e9e9e9;
}

/* Quotes */
blockquote {
  padding: .5rem 1rem;
  margin: .8rem 0;
  color: #4a4a4a;
  border-left: .25rem solid #e5e5e5;
}
blockquote p:first-child {
  margin-top: 0;
}
blockquote p:last-child {
  margin-bottom: 0;
}
@media (min-width: 30rem) {
  blockquote {
    padding-right: 5rem;
    padding-left: 1.25rem;
  }
}

img {
  display: block;
  margin: 0 0 1rem;
  border-radius: 5px;
}

/* Show messages to the user. */
.message {
  margin-bottom: 1rem;
  padding: 1rem;
  color: #515151;
  background-color: #cfcfcf;
}

/********** Code ***************/
code,
pre {
  font-family: Menlo, Monaco, "Courier New", monospace;
}
code {
  padding: .25em .5em;
  font-size: 85%;
  color: #bf616a;
  background-color: #c9c9c9;
  border-radius: 3px;
}

pre {
  display: block;
  margin-top: 0;
  margin-bottom: 1rem;
  padding: 1rem;
  font-size: .8rem;
  line-height: 1.4;
  white-space: pre;
  white-space: pre-wrap;
  word-break: break-all;
  word-wrap: break-word;
  /*background-color: #f9f9f9;*/
}

/* Code blocks */
pre code {
  display: block;
  padding: 1em;
  font-size: 100%;
  background: #272c29;
}
.highlight {
  margin-bottom: 1rem;
  border-radius: 4px;
}
.highlight pre {
  margin-bottom: 0;
}
